*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color:white;
    margin: 0px auto;
    padding:20px;
}
.main{
    width: 700px;
    display:inline-block;
}
.side{
    width: 200px;
    display:inline-block;
    vertical-align: top;
}
.entry-title {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 4%;
    text-align: center;
}
#career {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:  20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 1%;
}
#survey {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:  20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 1%;
}
hr {
    background-color: #f6f6f6;
    border: 0;
    height: 2px;
    margin: 1% 0;
}

.button{
    background-color: #4CAF50;
    color:white;
    padding: 15px 32px;
    font-size: 16px;
}

#main_content{
    min-height: 400px;
    width: 720px;
    background-color: red;
    margin-top:20px;
    margin-left:20px;
    display:inline-block;
    vertical-align: top;
}

nav {
    font-family: sans-serif;
    background-color:rgb(214, 214, 214);
    padding:20px;
}
ul {
    margin:0px;
    padding:0px;
}
a {
    color:black;
    font-weight:bold;
    text-decoration:none;
}
#sidebar{
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(182, 182, 182);
    padding:10px;
    margin:5px;
    text-align: center;
    display:inline-block;
}
